/* Add CSS Styling */

.class_style {
    background-color: rgb(215, 123, 146);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.class_style_different {
    font-size: 24px;
}

#element2 {
    color: rgb(24, 24, 218);
    font-size: 36px;
}

#element4 {
    background-color: #9aec9a;
    font-size: 24px;
    font-weight: bold;
}